td,
th{
  border-radius: 5px;
  text-align: center;
}

th{
  background-color: lightblue;
}
table{
  border-spacing: 5px;
}
.magistral{
  background-color: #bfbfbf;
}
.tutorial{
  background-color: #91cdff;
}
.conf{
  background-color: #e5e6ff;
}
.general{
  background-color: #9798ca;
}
.taller{
  background-color: #9699fe;
}
.informal{
  background-color: #cacbff;
}
td span{
  display: block;
}
.ponente{
  font-style: italic;
}
.event-type{
  font-size: .8em;
  font-style: italic;
}
table caption{
  font-weight: bolder;
  font-size: 1.5em;
}
